@model PRN02.Models.Product


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        h1, h4, input {
            color: goldenrod;
        }

        label {
            color: aquamarine;
        }

        a {
            color: wheat;
            text-decoration: none;
        }

        hr {
            color: white;
        }
    </style>
</head>
<body>
    <h3>Add more Products</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/Product/Create">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input name="ProductName" asp-for="ProductName" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input name="Quantity" asp-for="Quantity" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="TotalPrice" class="control-label"></label>
                        <input name="TotalPrice" asp-for="TotalPrice" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="DateIn" class="control-label"></label>
                        <input name="DateIn" asp-for="@DateTime.Now" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select class="form-select" asp-for="CategoryID">
                            <option selected>Select Catetory</option>
                            @foreach (Category cate in ViewBag.Categories)
                            {
                                <option value="@cate.CategoryID">@cate.CategoryName</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html> 